footer
    .footer
        .item
            p About
            ul(style='list-style: none;')
                a(href='#')
                    li Comment fonctionne airbnb clone
                a(href='#')
                   
    .second-footer
        |&copy; 2020 Airbnb clone, Ahmed, Brian, Darcel, Thierry. All rights reserved 
        a(href='#' style='margin-left: 50px;') &middot;Privacy
        a(href='#' style='margin-left: 20px;') &middot;Terms
        a(href='#' style='margin-left: 20px;') &middot;Sitemap