extends base

block content 
  main.mainlogin
    .leftlogin


    .rightlogin
      .login-form
        h2 Connectez vous à votre compte
        form.form-horizontal(action='/api/auth/login/', method='POST')
          .form__group
            label.form__label.form__label(for='email') Email Address
            br
            input#name.form-input(type='text',name ='email', placeholder='email')
            block forgetcontent
              p.hideblock 
          .form__grouplogin
            label.form__label(for='password') Password
            br
            input#name.form-input(type='text',name ='password', placeholder='password')
          .form__grouplogin
            button.btn.btn-primary.input-group-btn(type="submit") se connecter  