extends base

block content   

  main.mainsign
    .left
      
      .left-text
        h1
          | Incrivez vous
          br
          |  pour louer ou reserver.
    .right
      .signup-form
        .signup-form_text
          
          h2.heading-secondary.ma-bt-lg S'enregistrer 
          p
            | Vous avez déja un compte ? 
            a(href='/login') Se connecter
        //- form.signform.formdesign(action='/api/auth/signup', method='POST')
        form.form-horizontal(action='/api/auth/signup/', method='POST')
          .form__group
            label.form__label.form__label(for='email') Email Address
            br
            input#name.form-input(type='text',name ='email', placeholder='email')
            //- br
            //- input#email.form__input(type='text' required)
          .form__group.ma-bt-md
            label.form__label(for='first_name') First Name
            br
            input#name.form-input(type='text',name ='first_name', placeholder='first_name')
            //- br
            //- input#first_name.form__input(type='text' required)
          .form__group.ma-bt-md
            label.form__label(for='last_name') Last Name
            br
            input#name.form-input(type='text',name ='last_name', placeholder='last_name')
            //- br
            //- input#last_name.form__input(type='text' required)
          .form__group.ma-bt-md
            label.form__label(for='password') Password
            br
            input#name.form-input(type='text',name ='password', placeholder='password')
            //- br
            //- input#password.form__input(type='text' required)   
          .form__group.ma-bt-md
            label.form__label(for='role') Role (host ou visitor)
            br
            input#name.form-input(type='text',name ='role', placeholder='role')
            //- br
            //- input#role.form__input(type='text' required)
             
          .form__group
				
            button.btn.btn-primary.input-group-btn(type="submit") envoyer
            